% vim: ft=erlang:
[     {apns, [ {apple_host,       "localhost"}
             , {apple_port,       2195}
             , {cert_file,        "cert.pem"}
             , {key_file,         "key.pem"}
             , {cert_password,    "asdf"}
             , {timeout,          30000}
             , {feedback_host,    "localhost"}
             , {feedback_port,    2195}
             , {feedback_timeout, 600000} %% 10 Minutes
             ]
      },
      {mock_apn, [ {certfile,     "cert.pem"}
                 , {keyfile,      "key.pem"}
                 , {password,     "asdf"}
                 ]
      }
].
