[
 {
   apns,
   [ {apple_host,       "api.development.push.apple.com"}
   , {apple_port,       443}
   , {certdata,         "DUMMY"}
   , {certfile,         "priv/apns-dev-cert.pem"}
   , {keydata,          "DUMMY"}
   , {keyfile,          "priv/apns-dev-key-noenc.pem"}
   , {token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"}
   , {timeout,          10000}

   %% APNs Headers

   , {apns_id,          undefined}
   , {apns_expiration,  0}
   , {apns_priority,    10}
   , {apns_topic,       "com.example.myapp"}
   , {apns_collapse_id, undefined}
   , {apns_push_type,   "alert"}

   %% Feedback
   , {feedback_host,    "feedback.push.apple.com"}
   , {feedback_port,    2195}
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].
