.rebar/
deps
ebin
log/*.log
tmp
tmp/**/*
.DS_Store
engine/*.dump
*.beam
admin/config/database.yml
erl_crash.dump
Mnesia*
*.sw?
admin/log/*.log
.project
.settings
*.orig
doc
rebar
priv/cert.pem
.awconfig
.erlang.mk.packages.v2
logs/

