[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_text_style, line_length, #{limit => 100}}
          , {elvis_style, god_modules, #{limit => 25, ignore => [apns_connection]}}
          , {elvis_style, no_author, disable}
          , {elvis_style, no_space, disable}
          , {elvis_style, no_if_expression, #{ignore => [apns_connection]}}
          , {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
          , {elvis_style, export_used_types, #{ignore => [apns_meta_SUITE,
                                                          apns_os_SUITE,
                                                          connection_SUITE,
                                                          feedback_SUITE]}}
          ]
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
