%% elvis_core 6 dropped the {elvis, [{config, ...}]} wrapper, replaced
%% dirs+filter with `files' globs, removed the elvis_config ruleset, and
%% renamed line_length to max_line_length and god_modules to no_god_modules.
[
 {config,
  [#{files => ["src/**/*.erl", "test/**/*.erl"],
     ruleset => erl_files,
     rules => [
         {elvis_text_style, max_line_length, #{limit => 100}}
       , {elvis_style, no_god_modules, #{limit => 25, ignore => [apns_connection]}}
       , {elvis_style, no_author, disable}
       , {elvis_style, no_space, disable}
       , {elvis_style, no_if_expression, #{ignore => [apns_connection]}}
       , {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
       , {elvis_style, export_used_types, #{ignore => [apns_os_SUITE,
                                                       connection_SUITE,
                                                       feedback_SUITE]}}
       ]
    },
   #{files => ["rebar.config"],
     ruleset => rebar_config
    }
  ]}
].
