[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_style, line_length, #{limit => 100}}
          , {elvis_style, god_modules, #{limit => 25, ignore => [apns_connection]}}
          ]
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
