%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
]}.

{minimum_otp_vsn, "19"}.

%% == Dependencies ==

{deps, [
  {gun, "1.3.0"},
  {jsx, "2.9.0"},
  {base64url, "0.0.1"}
]}.

%% == Profiles ==

{profiles, [
  {test, [
    {deps, [
      {katana_test, "1.0.0"},
      {katana, "0.4.0"},
      {mixer, "1.0.0", {pkg, inaka_mixer}},
      {meck, "0.8.10"}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_compile_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.

%% == Cover ==

{project_plugins, [coveralls, {rebar3_codecov, "0.1.0"}]}.

{cover_enabled, true}.

{cover_export_enabled, true}.
  {provider_hooks,
    [
      {post, [{ct, {codecov, analyze}}]}
    ]}.

{cover_opts, [verbose]}.

%% == EDoc ==

{edoc_opts, [
  {report_missing_types, true},
  {source_path, ["src"]},
  {report_missing_types, true},
  {todo, true},
  {packages, false},
  {subpackages, false}
]}.

%% == Dialyzer ==

{dialyzer, [
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "apns"},
  {base_plt_location, "."},
  {base_plt_prefix, "apns"}
]}.
