{deps, [
{gun,".*",{git,"https://github.com/ninenines/gun.git","1.3.0"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","2.9.0"}},{base64url,".*",{git,"https://github.com/dvv/base64url.git","v1.0"}},{lager,".*",{git,"https://github.com/erlang-lager/lager","3.6.2"}},{uuid,".*",{git,"https://github.com/okeuday/uuid.git","v1.7.4"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
